* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222;
  color: #aaa;
}

input, textarea, select {
  background-color: #111;
  color: #bbb;
  border-radius: 0;
  border: #222 solid 1px;
}

#page {
  height: 100%;
}

#homePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input#nameInput {
  display: block;
  width: 240px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

button#joinButton {
  display: block;
  width: 240px;
  padding: 10px 15px;
  border-radius: 3px;
  border: #0b5ce0 solid 1px;
  background-color: #0b5ce0;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  height: 35px;
}

button#joinButton:hover {
  background-color: #3177e7;
}

button#joinButton:active {
  background-color: #145aca;
}

#nameContainer {
  color: #999;
  position: absolute;
  top: 0;
  right: 95px;
  margin: 15px;
  line-height: 35px;
  text-align: right;
  z-index: 4;
}

button#leaveButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  width: 80px;
  padding: 10px 15px;
  border-radius: 3px;
  border: #444 solid 1px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  height: 35px;
  z-index: 3;
}

button#leaveButton:hover {
  background-color: rgb(82, 82, 82);
}

button#leaveButton:active {
  background-color: rgb(56, 56, 56);
}

#roomPage {
  position: relative;
  height: 100%;
  flex-direction: row;
}

#screensContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 0;
}

table#screensGrid {
  width: 98%;
}

table#screensGrid td {
  position: relative;
  border-radius: 8px;
  background-color: #0002;
  overflow: hidden;
}

table#screensGrid td:after {
  content: '';
  display: block;
  margin-top: 56.25%;
}

table#screensGrid td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table#screensGrid video {
  position: absolute;
  width: 100%;
  height: 100%;
}

#chatContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: left;
  pointer-events: none;
  z-index: 1;
}

input#chatInput {
  display: block;
  width: 100%;
  padding: 10px 10px;
  pointer-events: initial;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  margin: 0 4px 4px -4px;
}

#chatHistoryContainer {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
}

.chatMessage {
  background-color: #145aca55;
  color: #fff;
  padding: 6px 20px;
  border-radius: 14px;
  border-bottom-right-radius: 2px;
  margin: 2px 4px;
  font-size: 0.8rem;
  max-width: 280px;
  word-wrap: break-word;
}

.chatMessage.mine {
  background-color: #0005;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 14px;
}

.chatMessage .username {
  color: #ddd;
  font-size: 0.6rem;
  display: block;
  margin-top: -2px;
  margin-bottom: 2px;
}

/* hacks */
svg.sp-pause {
  display: none !important;
}
